@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.movie-card {
  width: 200px;

  .poster-image {
    border-radius: 10px;
    cursor: pointer;
  }

  .title {
    cursor: pointer;
  }
}

